<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to FIT.AI</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    
    <br><br><br>
</body>
</html>