<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>password entered and confirmend password are not equal.</h1>
    <a href="http://localhost:8080/signup">Try Again.</a>
</body>
</html>