*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}
nav{
    top: 0px;
    position: fixed;
    width: 100%;
    flex: 1;
    padding: 0px 10px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.nav2 a{
    margin: 0px 5px;
}
footer{
    bottom: 0px;
    border: 1px solid black;
    position: absolute;
    width: 100%;
}

footer .part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.part2{
    width: 100%;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.part1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part1 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part1 ul li{
    list-style-type: none;
    margin: 0px 10px;
    position: relative;
}